p {
  font-family: Roboto;
  margin: 0
}

body {
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  padding-bottom: 1000px;
  background-color: rgb(250, 250, 250);
}